<!DOCTYPE html>
<html>

<head>
  <title>江航立库看板</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/css_0_0_normalize.css">
  <link rel="stylesheet" href="css/css_0_0_f5.css">
  <link rel="stylesheet" href="css/css_0_0_back.css">
  <link rel="stylesheet" href="css/standardization.css">
  <link rel="stylesheet" type="text/css" href="css/all_map.css">


  <script src="js/jquery.min.js"></script>
  <script src="js/js_0_0_f5m.js"></script>
  <script src="js/vendor/modernizr.js"></script>
  <script src="js/svg.min.js" type="text/javascript"></script>

  <script src="jsmap/model_data.js"></script>
  <script src="jsmap/tips.js"></script>
  <script src="jsmap/mapclass_15f.js"></script>
  <script src="jsmap/whcell_15f.js"></script>


</head>

<body style="padding:0px;">
  <div class="row" id="box" style="height:100%;">
    <div class="medium-6 columns" style="padding:0px;height:100%;">
      <div id="drawing" style="height:100%;"></div>
    </div>
    <div class="medium-6 columns">
      <div class="legend">
        <div><span class="alarm"></span>故障</div>
        <div><span class="operation"></span>操作中</div>
        <div><span class="kong"></span>空库</div>
        <div><span class="has"></span>有料</div>
        <div><span class="car"></span>AGV空闲</div>
      </div>

      <div class="whcell_15f " style="width:95% ;">
        <h2 class="title_name"></h2>
        <div class="list">
          <table class = "table table-responsive table-bordered table-hover piler_box" width = "100%">
            
          <table>
            <!-- <div class="btn_box">
              <button type="button" class="btn btn-success">修改</button>
<button type="button" class="btn btn-info">保存</button>
            </div> -->
        </div>
      </div>
      <div class=" piler  bigtips"></div>
      <!-- <div class=" 1# bigtips"></div> -->
      <div class="dui bigtips"></div>
    </div>
  </div>
</body>

</html>