<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/choose.css">
    <!-- <link rel="stylesheet" href="css/css/bootstrap.css"> -->
</head>
<body>
<div class="web">
    <div class="time">2020-04-12 15:09:23</div>
    <!-- <div class="dai">
        <div class="location"><span class="dai_title">今日待拣选工单</span></div>
        <div class="dai_box">
            <span class="show_bg">12534700</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
            <span>12323232</span>
        </div>
    </div> -->
    <div class="inquire">
        <div class="location float-l"><span class="dai_title">工单查询</span></div>
        <!-- <div class="float-l"> -->
            <div class="input_box float-l"><input type="text" placeholder="工单号" class="wip"></div>
            <div class="list_btn float-l">
                <button class="btn" data-id="0">查询</button><button data-id="1" class="activ btn">托盘号</button><button data-id="2"  class="btn">工单</button><button data-id="3"  class="btn">物料号</button><button data-id="4"  class="btn">数量</button><button data-id="5"  class="btn">长吊笼入库</button><button data-id="6"  class="btn">短吊笼入库</button><button data-id="7"  class="btn">拣选</button>
            </div>
        <!-- </div> -->
        
    </div>
    <!-- <div class="tips">
        工单未齐套，缺少101280964-102。
    </div> -->
    <table class="table" width="100%" cellpadding="0" cellspacing="0">
        <thead class="material">
            <tr>
                <td width="60" height="40"></td>
                <td>1层</td>
                <td>2层</td>
                <td>3层</td>
                <td>4层</td>
                <td>5层</td>
                <td>6层</td>
                <td>7层</td>
                <td>8层</td>
                <td>9层</td>
                <td>10层</td>
                <td>11层</td>
                <td>12层</td>
            </tr>
        </thead>
        <tbody class="listData">

        </tbody>
        <tbody class="CageData" style="display: none;">

        </tbody>
    </table>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/choose.js"></script>
</body>
</html>