<html>

<head>
    <title>DPH</title>
    <meta charset="UTF-8"> <!-- for HTML5 -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/woplaninfo.css" rel="stylesheet">

</head>

<body>
    <div class="head"></div>
    <div class="putbox">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-2 col-md-1 "> <p class="query"> 查询条件:</p></div>
                <div class="col col-xs-10 col-md-11">
                    <div class="row">
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label for="organizationId" class="sr-only">库存组织 Id</label>
                                <input type="text" class="form-control" id="organizationId" placeholder="库存组织 Id" disabled>
                            </div>
                        </div>
                        <div class="col   col-md-2">
                            <div class="form-group">
                                <label for="deptCode" class="sr-only">工序代码</label>
                                <input type="text" class="form-control" id="deptCode" placeholder="工序代码" disabled>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label for="wipEntityName" class="sr-only">工单号</label>
                                <input type="text" class="form-control" id="wipEntityName" placeholder="工单号" disabled>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label for="wipEntityId" class="sr-only">工单 ID</label>
                                <input type="text" class="form-control" id="wipEntityId" placeholder="工单 ID">
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="form-group">
                                <label for="itemCode" class="sr-only">物资编码</label>
                                <input type="text" class="form-control" id="itemCode" placeholder="物资编码" disabled>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
    <div class="queryBtn">
        <button type="button" class="btn btn-primary">工序计划待产查询</button>
    </div>
    
    </div>
    <div class="table-responsive table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <td>工单ID</td>
                    <td>工单号</td>
                    <td>工单优先级</td>
                    <td>工单数量</td>
                    <td>工单小板数</td>
                    <td>物资编码</td>
                    <td>物资描述</td>
            </thead>
            <tbody class="listData"></tbody>
        </table>
    </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/woplaninfo.js"></script>
<script src="/js/bootstrap.js"></script>
</html>